@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin"), local("Roboto-Thin"), url("fonts/Robotothin.woff2") format("woff2"), url("fonts/Robotothin.woff") format("woff"), url("fonts/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("fonts/Robotothinitalic.woff2") format("woff2"), url("fonts/Robotothinitalic.woff") format("woff"), url("fonts/Robotothinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), local("Roboto-Light"), url("fonts/Robotolight.woff2") format("woff2"), url("fonts/Robotolight.woff") format("woff"), url("fonts/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("fonts/Robotolightitalic.woff2") format("woff2"), url("fonts/Robotolightitalic.woff") format("woff"), url("fonts/Robotolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/Roboto.woff2") format("woff2"), url("fonts/Roboto.woff") format("woff"), url("fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Italic"), local("Roboto-Italic"), url("fonts/Robotoitalic.woff2") format("woff2"), url("fonts/Robotoitalic.woff") format("woff"), url("fonts/Robotoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("Roboto-Medium"), url("fonts/Robotomedium.woff2") format("woff2"), url("fonts/Robotomedium.woff") format("woff"), url("fonts/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("fonts/Robotomediumitalic.woff2") format("woff2"), url("fonts/Robotomediumitalic.woff") format("woff"), url("fonts/Robotomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("fonts/Robotobold.woff2") format("woff2"), url("fonts/Robotobold.woff") format("woff"), url("fonts/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("fonts/Robotobolditalic.woff2") format("woff2"), url("fonts/Robotobolditalic.woff") format("woff"), url("fonts/Robotobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black"), local("Roboto-Black"), url("fonts/Robotoblack.woff2") format("woff2"), url("fonts/Robotoblack.woff") format("woff"), url("fonts/Robotoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("fonts/Robotoblackitalic.woff2") format("woff2"), url("fonts/Robotoblackitalic.woff") format("woff"), url("fonts/Robotoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 14px;
  color: #fff;
  position: relative; }

a {
  text-decoration: none; }

h1 {
  margin-top: 0;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase; }

h2 {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 100px 0 50px 0; }

h3 {
  font-size: 30px;
  font-weight: 300; }

h4 {
  margin: 30px auto;
  font-size: 18px;
  font-weight: 700;
  color: #CACACA; }

ul {
  padding-left: 0; }

li {
  list-style-type: none; }

.m0 {
  margin: 0 auto; }

.mt0 {
  margin-top: 0; }

.mb0 {
  margin-bottom: 0; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }
  .mb20:last-child {
    margin-bottom: 0; }

.mb25 {
  margin-bottom: 25px; }
  .mb25:nth-child(3n) {
    margin-bottom: 0; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb50 {
  margin-bottom: 50px; }

.mb70 {
  margin-bottom: 70px; }

.mb80 {
  margin-bottom: 80px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.ad-m {
  margin-right: 35px; }

.mr50 {
  margin-right: 50px; }

.mr68 {
  margin-right: 68px; }

.pt100 {
  padding-top: 100px; }

.my8 {
  margin: 8px 0; }

.w100 {
  width: 100%; }

.fz11 {
  font-size: 11px; }

.fz12 {
  font-size: 12px; }

.fz14 {
  font-size: 14px; }

.fz16 {
  font-size: 16px; }

.fz18 {
  font-size: 18px; }

.fz20 {
  font-size: 20px; }

.fz22 {
  font-size: 22px; }

.fz24 {
  font-size: 24px; }

.fz30 {
  font-size: 30px; }

.fz60 {
  font-size: 60px; }

.lh-1 {
  line-height: 1; }

.text-up {
  text-transform: uppercase; }

.text-c {
  text-align: center; }

.fb {
  font-weight: bold; }

.fw300 {
  font-weight: 300; }

.container {
  max-width: 1200px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dark-link {
  color: #808080; }

.light-link {
  color: #fff; }

.text-dark {
  color: #8C8C8C; }

.text-gray {
  color: #555555; }

.color-author {
  color: #F89202; }

.color-artist {
  color: #808080; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.mw560 {
  max-width: 560px; }

.pos-abs {
  position: absolute;
  left: 15px;
  bottom: 13px; }

.pos-rel {
  position: relative; }

header {
  position: absolute;
  top: 14px;
  left: 0;
  right: 0; }

header .dark-link:hover {
  color: #fff; }

.logo-img {
  width: 17px;
  margin-right: 4px; }

.logo-color {
  color: #fff; }

.search input {
  background: #3C3B3D;
  border-radius: 50px;
  width: 100%;
  padding: 3px 0 4px 15px;
  border: none;
  color: #fff; }
  .search input::-webkit-input-placeholder {
    color: #808080; }
  .search input::-moz-placeholder {
    color: #808080; }
  .search input:-ms-input-placeholder {
    color: #808080; }
  .search input::-ms-input-placeholder {
    color: #808080; }
  .search input::placeholder {
    color: #808080; }

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 278px;
          flex: 0 1 278px; }

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.header-nav {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 auto;
          flex: 4 1 auto; }

nav .li-item {
  margin-right: 36px; }
  nav .li-item:last-child {
    margin-right: 0; }

.main-banner {
  height: 100vh;
  background: url(banner.png) no-repeat center center;
  background-size: cover; }

.input-in {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-btn {
  width: 100%;
  border: none;
  background: #34C176;
  color: #fff;
  padding: 17px 0; }

.input-in {
  padding: 17px 0 17px 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px; }
  .input-in::-webkit-input-placeholder {
    color: #fff; }
  .input-in::-moz-placeholder {
    color: #fff; }
  .input-in:-ms-input-placeholder {
    color: #fff; }
  .input-in::-ms-input-placeholder {
    color: #fff; }
  .input-in::placeholder {
    color: #fff; }

.bg-catalog {
  height: 545px;
  background: url(Morten_Harket.png) no-repeat center center; }

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  height: 50px; }

.link-img {
  width: 20px; }

.link-p {
  padding: 0 15px; }

.button-bg-mix {
  background: #5328A1; }

.button-bg-bookmarks {
  background: #95390C; }

.cat-banner {
  width: 1200px; }

.mw100 {
  width: 100%; }

main {
  background: #08020D;
  padding-bottom: 100px; }

.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 580px;
  width: 350px;
  padding: 25px 24px 60px; }

.bg-free {
  background: url(subscribe_1.png);
  background-size: cover; }

.bg-standart {
  background: url(subscribe_2.png);
  background-size: cover; }

.bg-preium {
  background: url(subscribe_3.png);
  background-size: cover; }

.mba {
  margin: 0 0 auto 0; }

.sub-btn {
  border: 2px solid #fff;
  width: 100%;
  text-align: center;
  padding: 21px 0; }

.btn-album {
  border: 1px solid #8C8C8C;
  padding: 16px 30px; }

.vert-bord {
  height: 10px;
  border: 1px solid #B8B8B8;
  margin: 0 21px; }

.btn-dl {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FF4157;
  padding: 17px 58px;
  border-radius: 50px; }

.img-song {
  width: 55px;
  margin-right: 17px; }

.album-img {
  width: 250px; }

.popular-song {
  width: 510px; }

.name-song {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto; }

.songs {
  height: 250px; }

footer {
  background: -o-linear-gradient(0.25deg, #5328A1 32.83%, #95390C 81.56%);
  background: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%); }

hr {
  width: 100%; }

.f-color {
  color: #CACACA; }

.footer-head {
  padding: 80px 0 100px; }

.footer-foot {
  padding: 50px 0; }

.hr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  max-width: 100vw;
  position: absolute;
  left: 0;
  bottom: 119px; }

.socials li {
  margin: 0 21px 0 0; }
  .socials li:last-child {
    margin: 0; }

.footer-elem {
  margin-right: 100px; }
  .footer-elem:last-child {
    margin-right: 0; }

@media (max-width: 1279px) {
  .container {
    max-width: 1000px; }
  .sub {
    width: 280px;
    height: 463px; }
  .popular-song {
    width: 450px; }
  .cat-banner {
    padding-left: 50px; }
  .pt100-m {
    padding-top: 100px; } }

@media (max-width: 1023px) {
  .container, .cat-banner {
    max-width: 900px; }
  .sub {
    width: 280px;
    height: 463px; }
  h1 {
    font-size: 30px; }
  .mfz18 {
    font-size: 18px; }
  .mfz12 {
    font-size: 12px; }
  .container {
    padding: 0 20px; }
  .mfc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .mm15 {
    margin: 0 15px 15px 0; }
  .mfz16 {
    font-size: 16px; }
  h2 {
    font-size: 20px; }
  h3 {
    margin: 10px 0 20px; }
  .sub-btn {
    font-size: 12px; }
  .mr68 {
    margin-right: 0; }
  .mm50 {
    margin: 50px 0; }
  .m-news-img {
    width: 280px; }
  .mfd-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .btn-album {
    display: block;
    text-align: center; }
  .first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .third {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .fourth {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .mmb30 {
    margin-bottom: 30px; }
  .btn-dl {
    display: block;
    width: 100%;
    text-align: center; }
  .mjc-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-elem {
    margin-right: 0; }
  .popular-song {
    width: 300px; }
  .mr50 {
    margin-right: 0; } }

@media (max-width: 650px) {
  .songs {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  h2 {
    text-align: center; } }

@media (max-width: 600px) {
  .input-in {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 270px;
            flex: 1 1 270px; } }

@media (max-width: 568px) {
  .footer-menu-468 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .footer-menu-468 li {
      margin-bottom: 20px; }
      .footer-menu-468 li:last-child {
        margin-bottom: 0; }
  .hr {
    bottom: 280px; }
  .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .header-nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  h1 {
    text-align: center; }
  .main-banner p {
    text-align: center; }
  .mob-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .search {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
  .header-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .header-nav ul li {
      margin-bottom: 10px; }
  .logo {
    margin-bottom: 17px; }
  .button {
    min-width: 200px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .cat-banner {
    padding: 0; }
  section {
    padding: 0 20px; }
  .popular-song {
    width: 250px; }
  .center-m {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .p0 {
    padding: 0; }
  .sub {
    height: 463px;
    margin-right: 0; } }

@media (max-width: 474px) {
  .ad-m {
    margin: 0 0 25px 0; } }
